.alive{
  background-color:#3cd847;
  display: inline-block;
  border-radius: 5px;
}
.dead{
  background-color: #c83413;
  display: inline-block;
  border-radius: 5px;
}
.unknown{
  background-color: #F28123;
  display: inline-block;
  border-radius: 5px;
}
